label {
  padding: 20px;
  border-radius: 6px;
  background: #fff;
  border: 1px solid #636363;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  margin-top: 15px;
}
