* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1em;
}

html,
body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Arial', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

.selected-items {
  margin-top: 15px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.content {
  max-width: 1200px;
}

p {
  margin-bottom: 1.3em;
  color: rgb(99, 99, 99);
  font-size: 1.333em;
}

.selected {
  color: #fff;
  background: #4fb477;
}

h1,
h2,
h3,
h4 {
  margin: 0 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {
  font-size: 2.369em;
}

h3 {
  font-size: 1.777em;
}

h4 {
  font-size: 1.333em;
}

.product-title {
  margin-bottom: 5px;
  font-size: 1.333em;
  font-weight: bold;
}

form {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px 0;
}
